

@keyframes fadeIn {

    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes leftToRight{

    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes rightToLeft{

    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
