.animFadeIn{
    animation: fadeIn 1s ease;
}

.animFadeOut{
    animation: fadeOut 1s ease forwards;
}

#alerts-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  width: min(600px, 90vw);
  pointer-events: none;
  z-index: 9999;
}

.floating-alert {
  width: 100%;
  text-align: center;
  pointer-events: auto;
}

.floating-edit-form{
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 9998;
  background: rgba(0, 0, 0, 0.95);
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0,0,0,0.7);
  width: min(100% - 2rem, 700px);
}
