.navbar,.navbar-brand,.nav-link {font-family:$font-navbar;}
.text-neon-exact {
  color: #1f7676;
  @include neon-text-glow($neon-500, $neon-rest, $neon-hover, $neon-active, $neon-focus);
}

.body-bg{

    background: linear-gradient(115deg, #0e2c2f 0%, #061014 30%);
    color: #e7ecef;
    position: relative;
    
}

.animFadeIn{
  animation: fadeIn 2s ease-in both;
}



