
.login-form input[type="email"], .login-form input[type="password"] {
	padding: 20px;
	width: 100%;
	border: 0;
	border-radius: 5px;
	margin-bottom: 15px;
    box-shadow: 0px 0px 5px #1f7676;
}

.login-form input[type="checkbox"]{
	width: 16px;
    height: 16px;
    cursor: pointer;
    accent-color: #1f7676;
}