.project-frame-wrapper {
    width: 100%;
    
    max-width: 1200px;
    margin: 0 auto;
}


#projectFrame {
    display: block;
    width: 100%;
    max-width: 100%;
    height: 95vh;      
    border: 0;
}

