@import "../../../../node_modules/bootstrap/scss/functions";

@import "../../../../node_modules/bootstrap/scss/variables";
@import "variables";
@import "../../../../node_modules/bootstrap/scss/bootstrap";
@import "mixins";
@import 'buttons';
@import 'base';
@import "animations";
@import "home";
@import "projects";
@import "login";
@import "articles";

:root {
--bs-link-color: #e6e6ea; 
--bs-link-hover-color: #ffffff; 
--bs-link-decoration: none; 
--bs-link-hover-decoration: none; 
}